<html>
    <head>
    </head>

    <body>
        <canvas id="paint" width="200px" height="200px" style="border: 2px solid black;"></canvas>
        <button onclick="javascript:clearArea();return false;">Clear</button>
        <p>Predicted Value: <input type="text" id="prediction" value="" readonly></p>
        <p>Predicted Confidence: <input type="text" id="confidence" value="" readonly></p>
        
    </body>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="{{url_for('static', filename='draw.js')}}"></script>
</html>